* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: #3E4377;
  scroll-behavior: smooth;
}

body {
  background-color: #EDEEF8;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav__logo h2 a {
  font-size: 2.2rem;
  color: #3E4377;
  font-weight: 700;
  margin-left: 20px;
  transition: 0.3s ease-in-out;
}
nav .nav__logo h2 a:hover {
  color: #6068b8;
}
nav .bars {
  font-size: 2.5rem;
  color: #3E4377;
  margin-right: 20px;
  cursor: pointer;
}

.nav__menu-right {
  position: fixed;
  width: 100%;
  top: 10vh;
  background-color: #EDEEF8;
  text-align: left;
  transition: all 0.5s ease-in-out;
  z-index: 999;
}
.nav__menu-right li {
  display: none;
  line-height: 30px;
  padding: 30px 0;
  border-top: 1px solid #3E4377;
}
.nav__menu-right li a {
  color: #3E4377;
  font-size: 1.6rem;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  margin-left: 25px;
}
.nav__menu-right li a.active, .nav__menu-right li a:hover {
  color: #6068b8;
}
.nav__menu-right li:last-child {
  border-bottom: 1px solid #3E4377;
}

#check {
  display: none;
}

#check:checked ~ .nav__menu-right li {
  display: block;
}

.hidden {
  overflow: hidden;
}

.lds-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #EDEEF8;
  z-index: 1001;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #3E4377;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
.display {
  display: none !important;
}

.contador {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1000;
}
.contador h5 {
  font-size: 6rem;
  padding-bottom: 10px;
  color: #FD367E;
}
.contador h4 {
  font-size: 2.2rem;
  font-weight: 700;
}

main {
  width: 100%;
  min-width: 320px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .seccion-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .hidden-main {
  overflow: hidden;
}
main .enunciado {
  width: 90%;
  min-width: 310px;
}
main .enunciado h4 {
  padding-left: 1px;
  font-size: 1.6rem;
  font-weight: 700;
}
main .opciones {
  width: 90%;
  min-width: 320px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 30px 0;
}
main .opciones button {
  width: 100%;
  min-width: 288px;
  padding: 60px 0;
  border-radius: 20px;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: #FFFFFF;
}
main .opciones button:hover {
  opacity: 0.8;
}
main .opciones button:nth-child(1) {
  background-color: #6068b8;
}
main .opciones button:nth-child(2) {
  background-color: #FD367E;
}
main .opciones button:nth-child(3) {
  background-color: #F6E28D;
}
main .opciones button:nth-child(4) {
  background-color: #3E4377;
}
main .opciones-d button:nth-child(1) {
  background-color: #F6E28D;
}
main .opciones-d button:nth-child(2) {
  background-color: #3E4377;
}
main .progreso {
  width: 90%;
  min-width: 320px;
}
main .progreso .bar-container {
  background-color: #6068b8;
  border-radius: 20px;
}
main .progreso .bar-container div {
  width: 1%;
  background-color: #FD367E;
  margin: 50px 0;
  padding: 5px 0;
  border-radius: 20px;
}
main .resultado {
  width: 90%;
  min-width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .resultado div {
  text-align: center;
  width: 50%;
  background-color: #F6F6F6;
  border-radius: 20px;
  padding: 20px;
}
main .resultado div p {
  font-size: 1.4rem;
  font-weight: 700;
  color: #BDBDBD;
}

#bloqueo {
  position: absolute;
  background-color: transparent;
  height: 50vh;
  width: 90%;
  z-index: 1010;
  border-radius: 20px;
}

.siguiente {
  position: absolute;
  width: 100%;
  min-width: 320px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.siguiente h4 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.siguiente h5 {
  font-size: 6rem;
  font-weight: 700;
  margin-bottom: 20px;
  color: #FD367E;
}
.siguiente p {
  font-size: 1.4rem;
  font-weight: 600;
}
.siguiente p b {
  font-size: 1.6rem;
  font-weight: 700;
}

.final {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  width: 100%;
  min-width: 320px;
}
.final .resultado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.final .resultado h5 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #3E4377;
  margin-bottom: 20px;
}
.final .resultado .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  min-width: 250px;
  border-radius: 100%;
  background-color: #3E4377;
}
.final .resultado .circle p {
  font-size: 7rem;
  color: #FD367E;
  font-weight: 700;
}
.final .resultado #mensajeFinal {
  font-size: 2.5rem;
  color: #3E4377;
  font-weight: 700;
  margin: 15px 0;
}
.final .button-final {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.final .button-final button {
  background-color: #FD367E;
  border: 1px solid #FD367E;
  border-radius: 15px;
  box-shadow: 0 12px 15px 0 #f0c3dc;
}
.final .button-final button span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 300px;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 20px 0;
  color: #FFFFFF;
  text-decoration: none;
}

/*# sourceMappingURL=seccion.css.map */
