@use './styles.scss';
@use './nav.scss';
@import './variables.scss';
@import './buttons.scss';

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    min-width: 320px;

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid-1 {
        text-align: center;
        h3 {
            font-weight: $bold;
            font-size: $sm-text;
        }
    
        h1 {
            font-size: 3.8rem;
        }
    
        p {
            font-weight: $medium;
            margin-bottom: 24px;
            font-size: $sm-text;
        }
    }

    figure {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 250px;
            object-fit: contain;
        }
    }

    .grid-3 {
        .prueba {
            font-weight: $medium;
            margin-bottom: 24px;
            font-size: $sm-text;
            margin-top: 20px;
            margin-bottom: 10px;
        }
    
        button {
            @include button();
    
            a {
                @include button__link();
            }
        }
    }
}