@import './variables.scss';

nav {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav__logo {
        h2 {
            a {
                font-size: $h2;
                color: $purple;
                font-weight: $bold;
                margin-left: 20px;
                transition: .3s ease-in-out;
            }

            a:hover {
                color: $soft-purple;
            }
        }
    }

    .bars {
        font-size: 2.5rem;
        color: $purple;
        margin-right: 20px;
        cursor: pointer;
    }
}


.nav__menu-right {
    position: fixed;
    width: 100%;
    top: 10vh;
    background-color: $background;
    text-align: left;
    transition: all .5s ease-in-out;
    z-index: 999;

    li {
        display: none;
        line-height: 30px;
        padding: 30px 0;
        border-top: 1px solid $purple;

        a {
            color: $purple;
            font-size: 1.6rem;
            font-weight: bold;
            transition: .3s ease-in-out;
            margin-left: 25px;
        }

        a.active, a:hover {
            color: $soft-purple;
        }
    }

    li:last-child {
        border-bottom: 1px solid $purple;
    }
}

#check {
    display: none;
}

#check:checked ~ .nav__menu-right {
    li {
        display: block;
    }
}