// Colors

$background: #EDEEF8;
$pink: #FD367E;
$purple: #3E4377;
$soft-purple: #6068b8;
$gray: #BDBDBD;
$soft-green: #C0F2BC;
$white: #FFFFFF;
$light-gray: #F6F6F6;

// Font size

$sm-text: 1.4rem;
$h2: 2.2rem;
$h3: 1.8rem;
$num: 2.8rem;

// Font family

$poppins: 'Poppins', sans-serif;

// Font weight

$bold: 700;
$medium: 600;
$regular: 400;
$light: 300;